<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.ico" />
    {% block css %}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
    {% block title %}
    <title>Home</title>
    {% endblock %}
    <style>
        /* 点击火花样式 */
        .fireworks {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        /* 防止双击选中文本 */
        body {
            -moz-user-select: none;
            /*火狐*/
            -webkit-user-select: none;
            /*webkit浏览器*/
            -ms-user-select: none;
            /*IE10*/
            user-select: none;
        }
    </style>

</head>

<body>
    <canvas class="fireworks"></canvas>
    {% block content %}
    Home Page
    {% endblock %}
</body>
<!-- anime + firework  点击的烟花效果 -->
<script src="/js/anime.js"></script>
<script src="/js/firework.js"></script>
{% block js %}
<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
{% endblock %}

</html>